<!DOCTYPE html>
<html>
  <head>
    <title>LMS</title>
    <link rel="stylesheet" type="text/css" href="/HOME/styles.css">
  </head>
  <body>
    <div>
      <div class="jumbotron text-center">
        <h1>{{title}}</h1>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-3">
            Total Registered User {{user_count}}
          </div>
          <div class="col-sm-3">
            Total Books Available {{book_count}}
          </div>
          <div class="col-sm-3">
            Total Genres Available {{genre_count}}
          </div>
        </div>
      </div>
      <img src="https://images.shiksha.com/mediadata/images/1550666050phpzCvMiP.png" alt="">
    </div>
  </body>
</html>
