body {
    content: "";
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    overflow: hidden;
    background: url(maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: center;
}
/* body::after {
    opacity: 0.3;
    background: url(maxresdefault.jpg);
} */
/* body {
    position: absolute;
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*/
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
body::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45;
}
body::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    

}
body::after{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.45;
}

::-webkit-scrollbar {
    display: none;
}
@media ((min-width: 320px ) and (max-width: 768px)) {
    h1 {
        left: 0;
    }
    .Card {
        left: 0;
        width: 100%;
    }
}

h1 {
    position: relative;
    left: 30%;
    padding: 10px 20px;
    margin-right: 55%;
    align-content: center;
    justify-content: center;
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    /* background-color: rgba(11, 11, 11, 0.079); */
}
.Card {
    position: absolute;
    margin-top: 100px;
    padding: 10px 10px;
    margin-bottom: 100px;
    

    top: 20%;
    left: 35%;
    background-color: rgba(255, 255, 255, 0.362);
    box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
    height: 450px;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.details h3 {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    color: yellowgreen;
    text-shadow: 2px 2px 2px rgb(52, 49, 49);
}
/* .details input {
    position: relative;
    padding: 10px;
    left: 25%;
    align-items: center;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.47);
}
.details input:placeholder-shown {
    text-align: center; */
/* } */
.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
}
.login-form input::placeholder {
    color: black;
    text-align: center;
}
.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #328f8a;
    background-image: linear-gradient(45deg, #328f8a, #08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;

    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: 0.5s;
    cursor: pointer;
}
.login-form a {
    color: white;
}
.login-form button:hover {
    transform: translateY(-10px);
    box-shadow: 1px 2px 3px rgb(7, 7, 7);
    cursor: pointer;
}
.login-form a:hover {
    color: rgb(0, 6, 128);
}
.login-form .message {
    margin: 15px 0 0;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.login-form .message a {
    color: #4c6daf;
    /* text-decoration: none; */
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    h1 {
        left: 0;
        font-size: 50px;
    }

    .Card {
        left: 0;
        width: 100%;
        top: 10%;
       

    }

    .details h3 {
        font-size: 40px;
    }

    .login-form input {
        padding: 10px;
        font-size: 12px;
    }

    .login-form button {
        padding: 10px;
    }
}
