<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment</title>
</head>
<body>
  <h1>pay fine first</h1>
  <p>your have to pay {{fine_pay.amount}} as a fine</p>
 
    <form action="payment" method="post">
        <input type="hidden" name="amount" value="{{fine_pay.amount}} ">
        <input type="hidden" name="productName" value="Shocks">
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button";
        data-key="{{key}}"
        data-amount="amount"
        data-currency="usd"
        data-name="pay fine"
        data-description="pay fine"
        Data-locale="auto">
        </script>

    </form>
    <h2>or go to this  link</h2>
    <a href="https://buy.stripe.com/test_5kAaGTern8WN8ggbIJ">pay here</a>
   
</body>
</html>